@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

/* [data-testid="underlay"] {
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  backdrop-filter: blur(2px);
} */
